<%- include('includes/kiravi/kiravi_head.ejs') %>
<body data-spy="scroll" data-target=".navbar" data-offset="65">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- Header -->
    <%- include('includes/kiravi/kiravi_navigation.ejs') %>
    <!-- Header Ends -->
    <!-- Home -->
    <%- include('includes/kiravi/kiravi_home.ejs') %>
    <!-- Home End -->

    <!-- About -->
    <%- include('includes/kiravi/kiravi_about.ejs') %>
    <!-- About End-->

    <!-- Team-->
    <%- include('includes/kiravi/kiravi_team.ejs') %>
    <!-- Team Ends -->

    <!-- Statement -->
    <%- include('includes/kiravi/kiravi_statement.ejs') %>
    <!-- Statement End -->

    <!-- Services -->
    <%- include('includes/kiravi/kiravi_services.ejs') %>
    <!-- Service End -->

    <!-- Portfolio -->
    <%- include('includes/kiravi/kiravi_portfolio.ejs') %>
    <!-- Portfolio End -->

    <!-- Testimonial -->
    <%- include('includes/kiravi/kiravi_testimonial.ejs') %>
    <!-- Testimonial Ends -->

    <!-- Pricing -->
    <!-- Pricing Ends -->

    <!-- Stats -->
    <%- include('includes/kiravi/kiravi_stats.ejs') %>
    <!-- Stats Ends -->

    <!-- Clients-->
    <!-- Clients Ends -->

    <!-- Blogs -->
    <%- include('includes/kiravi/kiravi_blogs.ejs') %>
    <!-- Blogs Ends -->

    <!-- Contact -->
    <%- include('includes/kiravi/kiravi_contact.ejs') %>
    <!--Contact Ends -->

    <!-- Google Map -->
   <%- include('includes/kiravi/kiravi_maps.ejs') %>
    <!-- Google Map Ends -->

    <!-- Footer -->
    <%- include('includes/kiravi/kiravi_footer.ejs') %>
    <!-- Footer Ends -->
    <!-- Login -->
    <%- include('includes/kiravi/kiravi_login.ejs') %>
    <!-- Login End -->
    <!-- JavaScripts-->
    <%- include('includes/kiravi/kiravi_scripts.ejs') %>
    <!-- JavaScripts Ends -->
</body>
</html>
